.featuresList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: var(--badges);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--main);
}

.spriteIcon {
  fill: none;
  stroke: currentColor;
}
