.gallery {
  display: flex;
  flex-direction: row;
  gap: 48px;
  margin-bottom: 24px;
}

.item {
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 100%;
}

.image {
  object-fit: cover;
}
