.gallery {
  display: flex;
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0 0 24px 0;
  overflow-x: auto; /* Скрол для мобільних */
}

.item {
  flex-shrink: 0;
  width: 290px;
  /* height: 312px; */
  border-radius: 10px;
  overflow: hidden;
}

.imageWrapper {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.image {
  object-fit: cover;
}
