.container {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px;
  width: 100%;
  flex: 1;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  margin-bottom: 24px;
}

.form {
  display: flex;
  gap: 14px;
  flex-direction: column;
}

.input,
.textarea {
  padding: 8px 12px;
  font-size: 14px;
  border: 1px solid var(--inputs);
  resize: vertical;

  border-radius: 12px;
  padding: 18px;
  width: 100%;
  /* width: 527px; */
  /* height: 60px; */
  background: var(--inputs);
}

.textarea {
  resize: none;
}

.input::placeholder,
.textarea::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--gray);
  opacity: 1;
}

.input:focus,
.textarea:focus {
  color: var(--main);
  outline: none;
}

.inputWrapper {
  width: 100%;
  position: relative;
}

.datePickerWrapper {
  width: 100%;
}

.datePickerWrapper :global(.react-datepicker__wrapper),
.datePickerWrapper :global(.react-datepicker__input-container) {
  display: block;
  width: 100%;
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}

.sendBtnWrapper {
  margin: 40px auto 20px;
}
