.container {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-content: flex-start;
}

.featuresContainer {
  border: 1px solid var(--gray-light);
  border-radius: 10px;
  padding: 44px;
  width: 100%;
  background: var(--inputs);
  flex: 1;
}

.reviewsContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
  flex: 1;
}

.featureTabs {
  display: flex;
  gap: 40px;
  border-bottom: 1px solid var(--gray-light);
  margin-bottom: 44px;
}

.tabBtn {
  padding-bottom: 24px;
  cursor: pointer;
  position: relative;

  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
}

.tabBtn.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: var(--button);
}

.reviewInfo {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 16px;
}

.ratingHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.capitalLetter {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: var(--gray-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.userName {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: var(--button);
}

.ratingStars {
  display: flex;
  gap: 4px;
}

.comment {
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  line-height: 1.5;
}
