.vehicleTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--main);
  margin-top: 100px;

  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-light);
}

.vehicleList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.vehicleItem {
  display: flex;
  justify-content: space-between;
}
