.container {
  display: flex;
  flex-direction: column;
  padding: 48px 64px 80px 64px;
}

.header {
  margin-bottom: 28px;
}

.title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  overflow: hidden;
  color: var(--main);
}

.priceGroup {
  display: flex;
  align-items: center;
  gap: 12px;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--main);
}

.subHeader {
  display: flex;
  gap: 16px;
  justify-content: flex-start;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-decoration-skip-ink: none;
  color: var(--main);
  margin-bottom: 16px;
}

.ratingWrapper {
  text-decoration: underline;
}

.ratingWrapper,
.locationWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.ratingText {
  text-decoration: underline;
  display: flex;
  align-items: center;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  overflow: hidden;
  color: var(--text);
  margin-bottom: 60px;
}

/* .wrapper {
  display: flex;
  flex-direction: row;
  gap: 100px;
  padding: 44px 52px;
  justify-content: flex-start;
} */
